body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }


.wrapper-team {
    display: flex;
    color: rgb(223, 223, 223);
}
      
    .wrapper-team-logo {
        flex: 0 0 25%;
    }
      
    .wrapper-team-name {
        flex: 1;
        margin-top: 15px;
    }


.main {
    height: 100%;

    background-image: url("../images/nhl_background.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;

}

/*
The content `<div>` is where all your content goes.
*/

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 0px;
    line-height: 1.6em;
    min-height: calc(100% - 120px);
    overflow: auto; 
}

.header {
     margin: 0;
     color: rgba(5, 10, 31, 0.884);
     text-align: center;
     height: 100px;
 }

    .bg-header {
        /* background-image: url("../images/nhl_background.jpg"); */

        /* Add the blur effect */
        filter: blur(10px);
        -webkit-filter: blur(10px);
      
        /* Full height */
        height: 100%; 
        widows: 100%;
      
        /* Center and scale the image nicely */
        /* background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
    }

    .bg-text {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 300px;
        z-index: 2;
        width: calc(100% - 300px);
        /*calc*/

        height: 100px;
        text-align: center;
    }

    .header h1 {
        font-size: 3em;
        font-weight: bold;
        font-style: oblique;
        margin: 0.0em 0;
        top: 20px;
        position: relative;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: linear-gradient(to bottom, #1d1c1c, #4b5155);
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        height: 160px;;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


.team-logo {
    width: 50px;
    border: 0;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header {
        padding-left: 0em;
        padding-right: 0em;
    }
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 300px; /* left col width "#menu" */
        height: 100%;
        left: 0;
    }
    #menu {
        left: 150px;
        width: 300px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

.filter-position {
    width: 100%;
    text-align: right;
    margin: 40px 5px 0px 0px;
}
    .filter-position input {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        background: rgba(73, 72, 72, 0.527);
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
        color: white;
        text-transform: uppercase;
    }::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
        text-transform: uppercase;
        font-style: oblique;
      }

.scrollable-table {
    height: 450px;
    overflow: auto;
}

.pure-table {
    margin: 25px 5px 50px 0px;
    width: 100%;
    text-align: center;
}
    .pure-table thead tr{
        font-weight: bold;
        background-color: rgb(107, 107, 107);
        color:rgb(0, 0, 0);
        text-align: center;
    }

    .pure-table thead img {
        width: 10px;
    }
    .pure-table tbody {
        color : #1f1e1e;
    }
    .pure-table tbody tr:hover td{
      background-color: #9c9c64ce;
    }

    .pure-table tbody tr:hover td{
        cursor: pointer;
    }
    .pure-table tbody tr:nth-child(even){
        background-color: rgba(238, 238, 238, 0.815);
    }
    .pure-table tbody tr:nth-child(odd){
        background-color: rgba(177, 176, 176, 0.788);
    }


.modal {
    width: 600px;
    height: 450px;
    margin: 0px auto;
    position: fixed;
    top: 50%;
    left: 60%;
    right: 40%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(46, 44, 44, 0.945);
    /* padding: 10px 20px 40px; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
    .modal button {
        margin-bottom: 15px;
        padding: 3px 8px;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        width: 30px;
        height: 30px;
        align-self: flex-end;
        font-weight: bolder;
    }

.country-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: rgb(226, 222, 222);
}

.container-flag img {
    max-width: 100%;
    max-height: 100%;
    width: 60%;
    height: 60%;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: relative;
    height: 20px;
}